__pycache__/
.nfs*
cython_debug/
*.so
*.pyd
*.pyx.c
*.pyx.cpp
src/jimFisher
*.pyc
runs/*
old_reproduce/*
*.hdf5
notebook.sh
.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*.out
scripts/out_trash